
body {
background-color: BurlyWood;
color: indigo;
font-family: arial, helvetica, sans-serif;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

* {
    margin: 0;
    padding: 0;  
}

nav {
    width: 100%;
    height: 50px;
    background-color: white;
}

ul.menu {
    
}

ul.menu li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 50px;
}

ul.menu li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: "Trebuchet MS", Times, serif;
    color: indigo;
    padding: 0 20px;
}

ul.menu li a:hover {
    color: black;
}

h1.index {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.index {
    text-align: justify;
    font-size: 16px;
    padding:20px;
    overflow-wrap:break-word;    
}

p.index2 {
    text-align: center;
    margin-top: 280px;
}

div.boxes{
    display:flex;
    width:fill;
    height:auto;    
    padding:20px;
    gap:15px;    
}

div.boxes div{
    padding:10px;
    text-align:left;
    background-color:rgba(255,255,255,0.4);    
}

div.boxes img{    
    width:480px;
    height:auto;
}

section#Letter1 figure { 
    background-color: lavender; 
    margin: 3em; 
    width: 40%;
}

section#Letter2 figure { 
    background-color: lavender; 
    margin: 3em; 
    width: 40%;
}

section#ParentLetter figure { 
    background-color: lavender; 
    margin: 3em; 
    width: 40%;
}

section#Memorial figure { 
    background-color: lavender; 
    margin: 3em; 
    width: 40%;
}

figcaption {
    font-style: italic; 
    font-size: .8em;
}

figure img {
    max-width: 700px; 
    width: 100%;
}

.letter {
    margin: 1em;
}


.img {
    width: 300px;
    height: auto;
    padding: 10px;
}

/* About Grid */

.abt-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 30px;
}

.abt-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.abt-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.abt-img{
    width:auto;
    height:200px;
}
.abt-figcap{
    padding:10px;
    font-style:normal;    
    font-weight:bold;    
}

.abt-desc{    
    text-align:center;
    font-size:14px;
    overflow-wrap:break-word;    
}




/*  ol {
list-style-type: lower-alpha;
padding: 5em;
    
}*/
 
/*  figure {background-color:lavender; margin:3em; width: 30%;} 
figcaption {font-style:italic; font-size:.8em;}
figure img {max-width:300px; width:100%;}*/
/* Notice how the last rule is written: figure image {properties} . 
 * The rule above controls the <img> element that is contained inside <figure>. 
 * It does not control the size of the <img> that is not inside a <figure>. */
